body {
  background-color:#222831;

}

h1 {
  color: #eeeeee;
  font-family: "Nunito Sans",sans-serif;
  font-size:54;
  font-weight: bolder;

}

p {
  color: #d57149;
  font-family: "Nunito Sans",sans-serif;
  font-size:24;

}

hr {
    border: none;
    border-top: 3px double #d57149;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}


.sidebar {
  position: absolute;
  width: 25%;
  height: 110vh;
  background: #e0ece4;
  font-size: 0.85em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align:left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
}

.nav ul {
  list-style: inherit;
}

  li {
    position: relative;
    margin: 2.2em 0;
  }

    a {

      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: #222831;
      display: block;
      transition: all ease-out 300ms;
    }
    a:hover {
  background-color: #222831;
}

     a: .active {
      color:#2ec1ac ;
    }

    &:not(.active)::after {
      color:#2ec1ac

    opacity: 0.2;
}

&:not(.active):hover a {
  color:#d57149 ;
}

    .profile {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
